.introComponent{
    max-width: 650px;
    margin-top: 160px;
}

.introComponentTitle{
    color: var(--light-blue);
}

.introComponentText{
    margin-top: 10px;
}

.introComponentActions{
    margin-top: 30px;
}