@import './typography.scss';
@import './normalize.scss';
@import './variables.scss';

.container{
    max-width: 1620px;
    padding: 0 10px;
    margin: 0 auto;
}

button{
    width: 180px;
    height: 40px;
    border-radius: 10px;
    color: var(--white);
}

.error-message{
    font-size: 14px;
    color: var(--light-red);
    max-width: 300px;
    margin: 0 auto;
    margin-top: 10px;
}

.process-message{
    font-size: 14px;
    color: var(--light-red);
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 10px;
}

section{
    padding-top: 40px;
}

select{
    width: 284px;
    height: 30px;
    border-radius: 8px;
    font-size: 14px;
    margin-top: 10px;
}